*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}     



body{
scroll-behavior: smooth;
overflow-x: hidden;
}

header{
   width: 100%;
   height: 100vh;
   background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/graduation-square.jpg");
   background-size: cover;
   font-family: 'Poppins',sans-serif;
}

nav{
   width: 100%;
   height: 100px;
   color: whitesmoke;
   display: flex;
   justify-content: space-around;
    align-items: center;
}

.logo{
   font-family: sans-serif;
   font-size: 2.5em;

}

.logo span{
   color:#e74c3c;
}

.menu a{
   text-decoration: none;
   color: white;
   padding: 10px 20px;
   font-size: 20px;
   font-family: sans-serif;
   font: bold;
}



.text{
   position: absolute;
   top: 50%;
   left: 50%;
   max-width: 650px;
   transform: translate(-50%, -50%);
   text-align: center;
   color:whitesmoke
   text-decoration: solid;
}

.text span{
 letter-spacing: 5px;  
 color: bisque;   
}

.text h1{
   font-size: 3.5em;
}
.text a{
text-decoration: none;
background: #e74c3c;
padding: 10px 20px;
color: black;
letter-spacing: 5px;
}

.main{
   margin: 20px 20px;
   text-align: center; 
   justify-content: center;
   color: antiquewhite;
   font-family:  sans-serif;
   font-size: 1em;
}